@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Barriecito|Indie+Flower|Pacifico&display=swap');
html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
 }

nav{
  background: white;
}

li{
  list-style-type: none;
}

ul{
  padding-left: 0px;
}

.logo{
  height: 50px;
  width: 50px;
}

h2{
  color: black;
}

.title{
  font-family: 'Pacifico';
  line-height: 40px;
  font-size: 30px;
  color: black;
}

.username{
  font-weight: bold;
}

.userImg{
  height: 200px;
  width: 200px;
  border: 5px solid white;
  box-shadow: 0px 0px 0px 3px gray;
}

.userImg:before{
  content:'';
  height: 220px;
  width: 220px;
  position: absolute;
  z-index: -1;
  border: 2px solid black;
}

.chgFlexDirection{
  flex-direction: row;
}

img{
  object-fit: cover;  /*crop images rather than squash image*/
}

.userImgs{
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.userInfo{
  display: flex;
}


/*User Profile Page*/
.userDescr{
  height: 300px;
}

/*Upload Image*/
/* input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 5px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 5px;
}

.uploadFileBtn{
  background: #99c793;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

  .uploadFileBtn:hover {
    background-color: darken(#99c793, 20%);
  } */